@import url(http://fonts.googleapis.com/css?family=Roboto|PT+Sans+Narrow|Source+Sans+Pro);

@import "../less/custom/fonts/animation.css";

@import "../less/custom/fonts/fontello-codes.css";

@import "../less/custom/fonts/fontello-embedded.css";

@import "../less/custom/fonts/fontello.css";
/* ==========================================================================
   TOC
   ========================================================================== */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
form .form-group label {
  font-size: .925em;
  color: #4d4d4d;
}
form .form-group textarea {
  resize: vertical;
  min-height: 8em;
}
form .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f7f7f7;
  border-color: #dedede;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: .925em;
}
form .form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fcfcfc;
}
form .btn-primary {
  background: #009de0;
  border: 0;
  text-shadow: 0 -1px 0 #191919;
  -webkit-box-shadow: 0 0 0 1px #005d84;
  -moz-box-shadow: 0 0 0 1px #005d84;
  box-shadow: 0 0 0 1px #005d84;
  min-width: 6em;
  font-size: 1.25em;
  text-transform: uppercase;
}
form legend {
  font-size: 1.375em;
  line-height: 1.75em;
  color: #4d4d4d;
}
.table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.table > thead > tr > th {
  font-size: .925em;
  padding: .625em;
  color: #4d4d4d;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}
.table > tbody > tr > td {
  padding: .875em .625em;
  font-size: .875em;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  text-align: left;
}
.table > tbody > tr > td .label {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  padding: 1px 2px;
}
.table > tbody > tr.clickable > td {
  cursor: pointer;
}
.table > tbody > tr.clickable:hover td {
  background: #fdf0dd;
}
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: 'PT Sans Narrow', arial, sans-serif;
}
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 1.5em;
  position: relative;
  overflow: hidden;
  min-width: 160px;
}
.panel .panel-heading {
  padding: 0.75em 1.5em;
  background: #ffffff;
  position: relative;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  z-index: 4150;
}
.panel .panel-heading header {
  font-family: 'Roboto', arial, sans-serif;
  color: #333333;
  line-height: 32px;
  font-size: 1.25em;
}
.panel .panel-heading .btn-group {
  position: absolute;
  right: 0;
  top: 0;
}
.panel .panel-heading .btn-group .btn {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border: 0;
  background: #ffffff;
  padding: 0 15px;
  margin: 0;
  color: #666666;
  text-shadow: none;
  font-size: 1.375em;
  line-height: 51px;
}
.panel .panel-heading .btn-group .btn i {
  padding: 9px 0 8px;
}
.panel .panel-heading .btn-group .btn:hover,
.panel .panel-heading .btn-group .btn:active {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #404040;
}
.panel .panel-heading .btn-group .btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
}
.panel .panel-heading .btn-group .btn.active span,
.panel .panel-heading .btn-group .btn.active i {
  color: #666666;
}
.panel .panel-heading .btn-primary.btn-sm {
  position: absolute;
  top: .125em;
  right: .125em;
}
.panel .panel-body {
  z-index: 4050;
  background: #fafafa;
  padding: 1.5em;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #d4d4d4;
}
.panel .panel-body .table:last-child {
  margin-bottom: 0;
}
.panel .panel-hidden {
  position: absolute;
  top: 53px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  background: #fafafa;
  z-index: 4100;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.panel .panel-hidden .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #4d4d4d;
  background: #fcfcfc;
  border: 0;
  border-bottom: 1px solid #bfbfbf;
  border-left: 5px solid #cccccc;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.well.well-info {
  background: #d1f1ff;
  border-left-color: #7ad7ff;
}
.well.well-warning {
  background: #fdeed8;
  border-left-color: #fbd6a2;
}
.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border: 0;
  padding: 0 0 0 10px;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
}
.breadcrumb > li {
  color: #808080;
  font-size: .925em;
  line-height: 32px;
}
.breadcrumb > li i {
  color: #666666;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-left: .125em;
  padding-right: .125em;
}
.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom-width: 1px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  color: #666666;
}
.label {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-weight: 400;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  background: #e5e5e5;
  color: #4d4d4d;
  font-size: 1.25em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
body.splash {
  background: url(../img/bg-splash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer {
  padding: 1em 0;
}
.section-header {
  position: absolute;
  top: 51px;
  right: 0;
  height: 3em;
  padding: 0 1.5em;
  z-index: 3400;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #bfbfbf;
}
.section-header h2 {
  font-size: 1.425em;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2em;
}
.section-header ol li {
  line-height: 3em;
}
.content {
  position: fixed;
  top: 88px;
  bottom: 0;
  right: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #e5e5e5;
  overflow-y: auto;
  z-index: 3300;
}
.content > .container {
  width: 100%;
}
a,
a:hover,
a:focus,
a:active,
.btn {
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
header,
.section-header,
.content,
.content.full-width,
.nav-minimize,
.nav-primary,
.nav-secondary,
.nav-secondary.minimized,
.widget,
.panel-toggle-add {
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.navbar-toggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2px 1em;
  height: 48px;
  color: #f2f2f2;
  text-shadow: 0 -1px 1px #0079ad;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-toggle span {
  font-size: 2em;
  line-height: 1.5em;
}
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active {
  background: #008bc7;
  color: #ffffff;
  text-shadow: 0 -1px 1px #006793;
}
.header-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.header-nav .btn-group.open {
  background: #008bc7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.header-nav .btn {
  color: #ffffff;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  border: 0;
  width: auto;
  padding: 0;
  line-height: 51px;
  min-width: 48px;
  font-size: 1.25em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.header-nav .btn img {
  float: left;
  clear: right;
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px 0;
  -webkit-box-shadow: 0 0 1px #00567a;
  -moz-box-shadow: 0 0 1px #00567a;
  box-shadow: 0 0 1px #00567a;
}
.header-nav .btn:hover {
  background: #008bc7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.header-nav .btn:focus,
.header-nav .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}
.header-nav.open .dropdown-toggle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #00a8ef;
  color: #ffffff;
}
.header-nav.open .dropdown-toggle:hover {
  background: #00a8ef;
}
.header-nav .user-profile .btn {
  padding: 0 1em;
  min-width: 140px;
}
.header-nav .user-profile .name {
  display: block;
  float: left;
  clear: right;
  padding: 0 0 0 .375em;
  font-size: 0.875em;
}
.dropdown-menu {
  min-width: 181px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  left: initial;
  right: 0;
}
.dropdown-menu > li > a {
  padding: .5em .75em;
  color: #4d4d4d;
}
.dropdown-menu > li > a:hover {
  background: #f2f2f2;
}
.nav.nav-stacked > li + li {
  margin: 0;
}
.nav-primary {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #2f323a;
  z-index: 3500;
  overflow-y: auto;
  border-right: 1px solid #202228;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-primary .nav > li > a {
  padding: 0;
  border-bottom: 1px solid #202228;
  border-top: 1px solid #3a3c44;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 52px;
}
.nav-primary .nav > li > a i,
.nav-primary .nav > li > a span {
  line-height: 52px;
  display: block;
  float: left;
  clear: right;
  color: #989dac;
  text-shadow: 0 -1px 0 #000000;
}
.nav-primary .nav > li > a i {
  font-size: 1.5em;
  line-height: 52px;
  padding: 0 .5em;
}
.nav-primary .nav > li > a:hover,
.nav-primary .nav > li > a:focus {
  background: #343740;
}
.nav-primary .nav > li > a:hover i,
.nav-primary .nav > li > a:focus i,
.nav-primary .nav > li > a:hover span,
.nav-primary .nav > li > a:focus span {
  color: #b4b8c3;
}
.nav-primary .nav > li:first-child a {
  border-top: 0;
}
.nav-primary .nav > li:last-child a {
  -webkit-box-shadow: 0 1px 0 #3a3c44;
  -moz-box-shadow: 0 1px 0 #3a3c44;
  box-shadow: 0 1px 0 #3a3c44;
}
.nav-primary .nav > li.active {
  border-left: 3px solid #009de0;
}
.nav-primary .nav > li.active a {
  background: #25282e;
  border-top: 1px solid #25282e;
}
.nav-primary .nav > li.active a i,
.nav-primary .nav > li.active a span {
  color: #c2c5ce;
}
.nav-secondary {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #26292f;
  width: 16em;
  z-index: 3400;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #000000;
}
.nav-secondary .nav {
  margin: 0;
  padding: 0;
}
.nav-secondary .nav > li {
  padding: 0;
}
.nav-secondary .nav > li > a {
  color: #989dac;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  line-height: 36px;
  margin: 0;
  padding: 0 1em;
}
.nav-secondary .nav > li > a:hover,
.nav-secondary .nav > li > a:focus {
  background: #1e2025;
  color: #ffffff;
}
.nav-secondary .nav > li.active {
  border-left: 2px solid #009de0;
}
.nav-secondary .nav > li.active > a,
.nav-secondary .nav > li.active a:hover {
  background: #1e2025;
  color: #ffffff;
}
.nav-secondary.minimized {
  left: -25em;
}
.nav-secondary h2 {
  margin: 0 0 .5em 0;
  padding: 0 .5em;
  font-size: 2em;
  line-height: 51px;
  color: #ffffff;
  border-bottom: 1px solid #1f2227;
  -webkit-box-shadow: 0 1px 0 #2d3037;
  -moz-box-shadow: 0 1px 0 #2d3037;
  box-shadow: 0 1px 0 #2d3037;
}
.nav-minimize {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  background: #212429;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #26292f), color-stop(1, #2b2e35));
  background: -ms-linear-gradient(bottom, #26292f, #2b2e35);
  background: -moz-linear-gradient(center bottom, #26292f 0%, #2b2e35 100%);
  background: -o-linear-gradient(#2b2e35, #26292f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2e35', endColorstr='#26292f', GradientType=0);
  border-top: 1px solid #343840;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-minimize span {
  cursor: pointer;
  text-align: right;
  float: right;
  line-height: 1.25em;
  padding: .125em .5em .375em;
  font-size: 1.25em;
  color: #3d424b;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.copyright {
  color: #cccccc;
  text-align: center;
  font-size: .925em;
  margin: 1em 0 0 0;
}
@media (max-width: 991px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 1025px) {
  .nav-primary {
    width: 12em;
  }
  .nav-secondary {
    left: 12em;
  }
  .section-header,
  header.affix,
  .content {
    left: 28em;
  }
  .section-header.full-width,
  header.affix.full-width,
  .content.full-width {
    left: 12em;
  }
}
@media only screen and (max-width: 1024px) {
  .nav-primary {
    width: 5em;
  }
  .nav-primary .nav > li > a i {
    display: block;
    clear: both;
    float: none;
    text-align: center;
    width: 100%;
  }
  .nav-primary .nav > li > a span {
    display: none;
  }
  .nav-secondary {
    left: 5em;
  }
  .section-header,
  header.affix,
  .content {
    left: 21em;
  }
  .section-header.full-width,
  header.affix.full-width,
  .content.full-width {
    left: 5em;
  }
}
/* ==========================================================================
   STRUCTURE
   ========================================================================== */
header.affix {
  background: #0079ad;
  height: 52px;
  display: block;
  right: 0;
  top: 0;
  border-bottom: 1px solid #00567a;
  z-index: 3500;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
header.affix h1 {
  background: url(../img/logo.png) no-repeat 1em center transparent;
  width: 390px;
  height: 34px;
  margin: 0;
  padding: 26px 0 25px;
  color: #ffffff;
  font-size: 1.75em;
  line-height: 51px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  clear: right;
  position: relative;
}
header.affix h1 span {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
.splash header.affix {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 0;
}
.splash header.affix h1 {
  padding-left: 1em;
}
.splash header.affix .btn {
  text-shadow: none;
}
.splash header.affix:hover {
  background: #009de0;
  border-bottom: 2px solid #006793;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}
.splash header.affix:hover .btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', arial, sans-serif;
}
.jumbotron {
  background: transparent;
  padding: 4em 0 1em;
  margin: 0;
}
.jumbotron h1,
.jumbotron p {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'PT Sans Narrow', arial, sans-serif;
}
.jumbotron img {
  display: block;
  margin: 0 auto;
  width: 7%;
}
.widget {
  display: block;
  background: rgba(255, 255, 255, 0.75);
  padding: 1em;
  margin: 0 0 2em 0;
  min-height: 10em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.widget > * {
  text-decoration: none;
}
.widget i {
  font-size: 4em;
  line-height: 2.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.widget span {
  color: #4d4d4d;
  font-family: 'PT Sans Narrow', arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.widget:hover {
  background: #009de0;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.widget:hover span {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
}
