html {width: 100%;height: 100%;}
body {
	width: 100%;height: 100%;font-family: @defaultFF;font-weight: 300;background:@bodyBackground;color:darken(@white,70%);font-size:1.25em;line-height:1.5em;-webkit-font-smoothing: antialiased;
	&.splash {
		background: url(../img/bg-splash.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

header {}
footer {padding: 1em 0;}

.section-header {
	position: absolute;top:50px;right: 0;height:32px;padding: 0 1.5em;z-index: 4000;background:lighten(@bodyBackground,5%);border-bottom:1px solid darken(@bodyBackground,8%);
	h2 {color:darken(@navSecondaryBackground,60%);font-size:1.425em;text-align: center;margin: 0;padding: 0;font-weight: 400;line-height: 32px;}
}
.app {
	display: block;position: fixed;top: 50px;bottom: 0;right: 0;left: 0;
	&.mm-page {}
}

.content {
	position: absolute;top:0;bottom:0;right:0;padding-top:4em;padding-bottom: 1.5em;background:@bodyBackground;overflow-y:auto;z-index: 4000;
	> .container {width: 100%}
}

a, a:hover, a:focus, a:active, .btn {
	.transition(300ms);
}

header,
.section-header,
.content,
.content.full-width,
.nav-minimize,
.nav-primary,
.nav-secondary,
.nav-secondary.minimized,
.widget,
.panel-toggle-add {
	.transition(300ms);
}