	@media (max-width: 1200px) {
		.content {left:0!important}
		.navbar-toggle {display: block;}
	}

	@media (min-width: 1440px) {
		.container {
			width: 1340px;
		}
	}

	@media (min-width: 1600px) {
		.container {
			width: 1500px;
		}
	}
