// Navbar Toggle
	.navbar-toggle {
		display: none;position: absolute;top:0;left:0;margin:0;padding:2px 1em;height: 48px;color:darken(@white,5%);text-shadow:0 -1px 1px darken(@luleaBlue,10%);.rounded(0);
		span {font-size: 2em;line-height: 1.5em;}
		&:hover, &:focus, &:active {background: darken(@luleaBlue,5%);color:@white;text-shadow:0 -1px 1px darken(@luleaBlue,15%);}
	}

// Header Navigation
	.header-nav {
		position: absolute;top:0;right:0;
		.btn-group {
			&.open {background: darken(@luleaBlue,5%);.box-shadow(none)}
		}
		.btn {
			color: @white;background:transparent;.rounded(0);display: inline-block;border:0;width: auto;padding:0;line-height: 51px;min-width: 48px;font-size: 1.25em;text-shadow:0 -1px 0 fade(@black,30%);
			img {float: left;clear: right;display: block;width: 32px;height: 32px;margin:8px 0;.box-shadow(0 0 1px darken(@luleaBlue,20%))}
			&:hover {background: darken(@luleaBlue,5%);.rounded(0);}
			&:focus, &:active {.box-shadow(none);color:@white}
		}
		&.open .dropdown-toggle {
			.no-box-shadow(none);background: lighten(@luleaBlue,3%);color:@white;
			&:hover {background: lighten(@luleaBlue,3%);}
		}
		.user-profile {
			.btn {padding: 0 1em;min-width: 140px}
			.name {display: block;float: left;clear: right;padding: 0 0 0 .375em;font-size: .875em}
		}
	}

// Dropdown Menu
	.dropdown-menu {
		min-width: 181px;.rounded(0);padding: 0;left: initial;right:0;
		> li {
			> a {
				padding:.5em .75em;color:darken(@white,70%);
				&:hover {background:darken(@white,5%)}
			}
		}
	}

	.nav {
		&.nav-stacked {
			> li {
				> a {}
				+ li {margin: 0;}
			}
		}
	}


// Navigation Primary
	.nav-primary, .nav-secondary {
		position: fixed;left: 0;top: 0;bottom: 0;background:@navPrimaryBackground;z-index: 3500;overflow-y:auto;.inner-shadow(-3px,0,0,.15);
		.nav {
			z-index: 3500;display: block;position: relative;
			> li {
				> a {
					padding:0;border-bottom: 1px solid darken(@navPrimaryBackground,5%);border-top:1px solid lighten(@navPrimaryBackground,5%);text-align:center;.rounded(0);width:100%;height:52px;
					i, span {line-height: 52px;display: block;float: left;clear: right;color:@navPrimaryTextColor;text-shadow:0 -1px 0 @black;}
					i{font-size: 1.5em;line-height: 52px;padding: 0 .5em;}
					.subnav-open {float: right;padding:0 .125em}
					&:hover, &:focus {
						background:lighten(@navPrimaryBackground,2%);
						i, span {color:lighten(@navPrimaryTextColor,10%);}
					}
				}
				&:first-child a {border-top: 0;}
				&:last-child a {.box-shadow(0 1px 0 lighten(@navPrimaryBackground,5%))}
				&.active {
					border-left:2px solid @luleaBlue;
					a {
						background:@navPrimaryActiveBG;border-top-color:lighten(@navPrimaryActiveBG,8%);border-bottom-color:darken(@navPrimaryActiveBG,6%);
						i, span {color:lighten(@navPrimaryTextColor,15%);}
					}
				}
			}
		}

		h1 {
			display: block;position: relative;z-index:3600;background: url(../img/logo.png) no-repeat center center @productHeaderBG;text-indent: -9999px;margin: 0;padding: 0;width: 100%;height: 52px;border-bottom: 1px solid darken(@productHeaderBG,15%);.inner-shadow(-3px,0,0,.15);
		}
	}

// Navigation Seconday
	.nav-secondary {
		top:52px;left:16em;width:16em;z-index: 3500;overflow-y:auto;overflow-x:hidden;
		.nav {
			> li {
				> a {line-height: 40px;height: 40px;display: block;color:@navPrimaryTextColor;text-shadow:0 -1px 0 @black;text-align: left;padding: 0 .5em 0 1em;}
				&.active {
					a {color:lighten(@navPrimaryTextColor,15%);}
				}
			}
		}
		h2 {
			padding:0 .5em;font-size: 1.5em;line-height:48px;color:lighten(@navPrimaryTextColor,5%);text-shadow:0 1px 0 @black;background:darken(@navPrimaryBackground,3%);border-bottom: 1px solid darken(@navPrimaryBackground,8%);.box-shadow(0 1px 0 lighten(@navPrimaryBackground,5%));cursor:pointer;margin: 0;
			.subnav-close {float: left;}
		}
	}