@white: 										#fff;
@black: 										darken(@white,100%);

@subtleGray: 								darken(@white,10%);
@gray: 											darken(@white,20%);
@darkGray: 									darken(@white,40%);

@luleaBlue: 								#009de0;
@luleaLightBlue: 						lighten(@luleaBlue,60%);
@luleaSubtleBlue: 					lighten(@luleaBlue,85%);
@luleaDarkBlue: 						#005093;

@luleaOrange: 							#f6aa41;
@luleaLightOrange: 					lighten(@luleaOrange,35%);
@luleaSubtleOrange: 				lighten(@luleaOrange,85%);
@luleaDarkOrange: 					#f09733;

@navPrimaryBackground: 			#3f3f3f;
@navSecondaryBackground: 		#dadada;

@defaultFF: 								'Roboto', arial,sans-serif;
@condensedFF: 							'PT Sans Narrow', arial,sans-serif;
@slabFF: 										'Roboto Slab', arial,serif;